*, *::before, *::after {
    box-sizing: border-box;
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

h1 {
    margin: 0;
}

.h1-quiz{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-header{
    padding: 20px;
    margin: 0;
    color: #42515a
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.category {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 25px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: center;
}

.category:hover {
    background: linear-gradient(45deg, #b72026, #42515a);
    color: #fff;
    border-color: #fff;
}

.button {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 25px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: center;
    display: inline-block;
}

.button:hover {
    background: linear-gradient(45deg, #b72026, #42515a);
    color: #fff;
    border-color: #fff;
}

.button-bottom-center {
    margin: 40px auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.acronym-count {
    font-size: 0.9em;
    color: #666;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

header {
    background: linear-gradient(45deg, #b72026, #42515a);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
    background: linear-gradient(45deg, #b72026, #42515a);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
}

.header-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header .button-link {
    font-size: 1.5em;
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 10px 20px; 
    border-radius: 5px;
    border: 2px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header .button-link:hover {
    background-color: white;
    color: #42515a;
}

.header .home-icon {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: none; 
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    justify-content: flex-end;
    max-width: 200px;
    width: 100%;
    flex-shrink: 1;
}

.search-container input[type="text"] {
    padding: 5px 10px 5px 30px;
    font-size: 1em;
    border: 1px solid #333;
    border-radius: 5px;
    max-width: 250px;
    color: #aaa;
    width: 100%;
}

.search-container input[type="text"]::placeholder {
    color: #aaa; 
}

.search-container .search-icon {
    position: absolute;
    left: 10px;
    font-size: 1.2em;
    color: #aaa;
}

.kviz-mobile-btn {
    display: none;
    width: 100vw;        
    margin: 0;
    padding: 16px 0;      
    background: #596165;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0;   
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    box-shadow: none;
    border: none;
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.dropbtn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#acronyms {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px;
}

.acronym {
    flex: 1 1 33.333%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    perspective: 1000px;
    height: 300px; 
    max-width: 33.333%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.acronym.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.flip-card-front {
    background-color: #c4ced4; 
    padding: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    font-size: 20px;
    font-weight: bold;
}

.flip-card-front:hover {
    background-color: #7e93a0; 
    transform: scale(1.05); 
    color: white;
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: #f1f1f1;
    padding: 20px; 
}

.flip-card-back .full-name {
    font-size: 24px; 
    font-weight: bold; 
}

.language-buttons {
    margin-top: 10px;
}

.language-buttons button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.language-buttons button:hover {
    background-color: #0056b3;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent; 
    color: #8e1a1a; 
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    z-index: 1000;
    border: 3px solid #8e1a1a; 
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

#back-to-top:hover {
    background-color: #8e1a1a; 
    border: 3px solid #ffffff;
}

#back-to-top:hover::before {
    border-bottom-color: #ffffff; 
}

#back-to-top::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #8e1a1a;
    position: relative;
    top: -2px;
    transition: border-bottom-color 0.3s ease; 
}

.definition{
    text-align: justify;
    flex-grow: 1;
}

#random-acronyms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/* Laptop */
@media (min-width: 1025px) and (max-width: 1280px) { 
    .acronym {
        flex: 1 1 33.333%;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        perspective: 1000px;
        height: 300px; 
        
    }

    .category {
        background-color: #fff;
        border: 2px solid #333;
        border-radius: 10px;
        margin: 10px;
        padding: 15px 25px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        text-align: center;
    }

    .category:active{
        background: linear-gradient(45deg, #b72026, #42515a);
        color: #fff;
        border-color: #fff;
    }

    #categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .button-bottom-center {
        margin: 40px auto;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .button-bottom-center:active{
        background: linear-gradient(45deg, #b72026, #42515a);
        color: #fff;
        border-color: #fff;
    }

    .header .home-icon {
        display: none;
    }

    .header .button-link {
        font-size: 1.5em;
        text-decoration: none;
        background-color: transparent;
        color: white;
        padding: 8px 16px; 
        border-radius: 5px;
        border: 2px solid white;
        transition: background-color 0.3s ease, color 0.3s ease; 
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content{
        right: 0;
        left: auto;
        max-width: 90vw;
        overflow-x: auto;
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: auto;
        justify-content: flex-end;
        max-width: 200px;
        width: 100%;
        flex-shrink: 1;
    }

    .search-container input[type="text"] {
        padding: 5px 10px 5px 30px;
        font-size: 1em;
        border: 1px solid #333;
        border-radius: 5px;
        width: 100%;
        max-width: 100%;
        color: #aaa;
    }

    .search-container .search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2em;
        color: #aaa;
        pointer-events: none;
    }

    .category-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
    }
    
    #categories-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #categories {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .definition{
        text-align: center;
    }
    
    #category-dropdown {
        display: block;
    }
    
    #category-dropdown.hidden {
        display: none;
    }
}


/* Tableti, Ipad */
@media (min-width: 769px) and (max-width: 1024px) { 
    
    .acronym {
        flex: 1 1 50%;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        perspective: 1000px;
        height: 300px; 
        max-width: 50%;
    }

    .category {
        width: 100%;
        margin: 10px auto;
        padding: 15px;
        max-width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
    }

    .category:active{
        background: linear-gradient(45deg, #b72026, #42515a);
        color: #fff;
        border-color: #fff;
    }

    #categories {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .button-bottom-center {
        position: static;
        margin: 40px auto;
        display: block;
        text-align: center;
        transform: none;
        width: 80%;
        max-width: 400px;
    }

    .button-bottom-center:active{
        background: linear-gradient(45deg, #b72026, #42515a);
        color: #fff;
        border-color: #fff;
    }

    .header .home-icon {
        display: inline-block; 
        position: absolute;
        left: 20px;
    }

    .header .button-link {
        display: none; 
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 80px;
        background: linear-gradient(45deg, #b72026, #42515a);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content{
        right: 0;
        left: auto;
        max-width: 90vw;
        overflow-x: auto;
        
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: auto;
        justify-content: flex-end;
        max-width: 200px;
        width: 100%;
        flex-shrink: 1;
    }

    .search-container input[type="text"] {
        padding: 5px 10px 5px 30px;
        font-size: 1em;
        border: 1px solid #333;
        border-radius: 5px;
        width: 100%;
        max-width: 100%;
        color: #aaa;
    }

    .search-container .search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2em;
        color: #aaa;
        pointer-events: none;
    }

    .category-container {
        justify-content: center;
        display: flex;
        flex: 1;
    }
    
    #categories-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #categories {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .definition{
        text-align: center;
    }
    
    #category-dropdown {
        display: block;
    }
    
    #category-dropdown.hidden {
        display: none;
    }
    
}

/* Mobiteli */
@media (max-width: 768px) {
    .acronym {
        flex: 1 1 100%; 
        margin: 6px auto !important;          /* still small margin */
        padding: 10px;
        width: 96vw !important;
        max-width: 100vw !important;
        min-width: 0 !important;
        height: auto;
        color: rgb(33, 29, 29);
        overflow: visible;
        word-wrap: break-word;
        white-space: normal;
        position: relative;
    }

    #random-acronyms {
        display: block !important;
        width: 100%;
        padding: 0;
        margin: 0;
      }

      .flip-card-front {
        font-size: 1.5em;          /* responsive font */
        word-break: break-word;
    }
    .full-name {
        font-size: 1.1em !important;
        word-break: break-word;
    }

    .flip-card-inner{
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s cubic-bezier(.4,2.08,.55,.44);
    }
    }

    .flip-card-front, .flip-card-back {
        left: 0;                     /* Ensure absolutely positioned at left/top 0 */
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

      .flip-card-inner,
      .flip-card-front,
      .flip-card-back {
          width: 100% !important;   /* let card fill parent */
          min-width: 0 !important;
          max-width: 100vw !important;
          padding: 30px !important;
      }

    .category {
        width: 100%;
        margin: 10px auto;
        padding: 15px;
        max-width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
    }

    .category:active{
        background: linear-gradient(45deg, #b72026, #42515a);
        color: #fff;
        border-color: #fff;
    }

    #categories {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .kviz-mobile-btn {
        display: block;
        margin-top: -10px;
    }

    .kviz-desktop-btn {
        display: none;
    }

    .button-bottom-center {
        position: static;
        margin: 40px auto;
        display: block;
        text-align: center;
        transform: none;
        width: 50%;
    }

    .button-bottom-center:active{
        background: linear-gradient(45deg, #b72026, #42515a);
        color: #fff;
        border-color: #fff;
    }

    .header .home-icon {
        display: inline-block; 
        position: absolute;
        left: 20px;
    }

    .header .button-link {
        display: none; 
    }

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 90px;
        background: linear-gradient(45deg, #b72026, #42515a);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content{
        right: 0;
        left: auto;
        max-width: 90vw;
        overflow-x: auto;
        
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: auto;
        justify-content: flex-end;
        max-width: 200px;
        width: 100%;
        flex-shrink: 1;
    }

    .search-container input[type="text"] {
        padding: 5px 10px 5px 30px;
        font-size: 1em;
        border: 1px solid #333;
        border-radius: 5px;
        width: 100%;
        max-width: 100%;
        color: #aaa;
    }

    .search-container .search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2em;
        color: #aaa;
        pointer-events: none;
    }

    .category-container {
        justify-content: center;
        display: flex;
        flex: 1;
    }
    
    #categories-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .definition{
        text-align: center;
    }
    
    #category-dropdown {
        display: block;
    }
    
    #category-dropdown.hidden {
        display: none;
    }

    .quiz-header {
        text-align: center;
      }
    
}